# https://www.kernel.org/pub/software/scm/git/docs/git-config.html
# https://git-scm.com/docs/git-config
[user]
    name = Joshua Burns
    email = joshua.burns@liatrio.com

[core]
	excludesFile = ~/.gitignore
    editor = code --wait
    # hooksPath = C:\\git\\auctiva\\.githooks
    #i ignore case, R color, X no init, S chop no fold, F quit if one screen
    pager = less -iRXSF --tabs=4
    autocrlf = input

## Behavior
[help]
    autocorrect = 1

[push]
    default = simple

[diff]
    tool = bc3
#	noprefix = true # breaks sourcetree stage hunk
    compactionHeuristic = 1
    renameLimit = 10000
	colorMoved = default

[merge]
    tool = bc3

[fetch]
    prune = true

[pull]
    ff = only

[grep]
    patternType = perl

[advice]
    detachedHead = false

[git-up "fetch"]
    all = false

[git-up "rebase"]
    auto = false

## Aliases
[include]
    path = ~/git/shell_goodies/git/.gitaliases

## Appearance
[log]
    decorate = auto

[color]
    ui = auto

[color "branch"]
    current = green reverse
    local = white
    remote = red

# diff so fancy defaults
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = yellow # dsf
    #meta = blue bold
    frag = cyan bold
    # frag = magenta bold # dsf
    whitespace = red reverse
    old = red bold # dsf
    new = green bold # dsf
    commit = yellow bold

[color "status"]
    added = green
    changed = red
    untracked = yellow

## Diff Tools
[difftool "cd"]
    cmd = "colordiff -bBd $LOCAL $REMOTE | less -R"

[difftool "cds"]
    cmd = "colordiff -bBdyW`tput cols` $LOCAL $REMOTE | less -R"

[difftool "sd"]
    cmd = "sdiff $LOCAL $REMOTE | less -R"

[difftool "d"]
    cmd = "diff $LOCAL $REMOTE | less -R"

[mergetool]
    prompt = false

[mergetool "p4"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false

# https://thomaslevesque.com/2017/01/17/c-methods-in-git-diff-hunk-headers/
# [diff "csharp"]
#   xfuncname = ^[ \\t]*(((static|public|internal|private|protected|new|virtual|sealed|override|unsafe|async|partial)[ \\t]+)*[][<>@.~_[:alnum:]]+[ \\t]+[<>@._[:alnum:]]+[ \\t]*\\(.*\\))[ \\t]*$

##
##

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

# [commit]
#     template = /Users/jburns/.stCommitMsg

# [hub]
# 	host = git.osky.io
