# https://www.kernel.org/pub/software/scm/git/docs/git-config.html
# https://git-scm.com/docs/git-config
[user]
    name = Joshua Burns
    email = joshua.burns@liatrio.com

[core]
	excludesFile = ~/.gitignore
	editor = code --wait
    pager = less -iRXSF --tabs=4
    autocrlf = input

## Behavior
[help]
    autocorrect = 1

[push]
    default = simple

[diff]
    tool = code
#	noprefix = true # breaks sourcetree stage hunk
    compactionHeuristic = 1
    renameLimit = 10000
	colorMoved = default

[merge]
    tool = code

[fetch]
    prune = true

[pull]
    ff = only

[grep]
    patternType = perl

[advice]
    detachedHead = false

[git-up "fetch"]
    all = false

[git-up "rebase"]
    auto = false

## Aliases
[include]
    path = ~/git/shell_goodies/git/.gitaliases

## Appearance
[log]
    decorate = auto

[color]
    ui = auto

[color "branch"]
    current = green reverse
    local = white
    remote = red

# diff so fancy defaults
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = yellow # dsf
    #meta = blue bold
    frag = cyan bold
    # frag = magenta bold # dsf
    whitespace = red reverse
    old = red bold # dsf
    new = green bold # dsf
    commit = yellow bold

[color "status"]
    added = green
    changed = red
    untracked = yellow

## Diff Tools
[difftool "cd"]
    cmd = "colordiff -bBd $LOCAL $REMOTE | less -R"

[difftool "cds"]
    cmd = "colordiff -bBdyW`tput cols` $LOCAL $REMOTE | less -R"

[difftool "sd"]
    cmd = "sdiff $LOCAL $REMOTE | less -R"

[difftool "d"]
    cmd = "diff $LOCAL $REMOTE | less -R"

[mergetool]
    prompt = false


[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[commit]
	gpgsign = true
